.success {
    color: rgb(0, 78, 22);
    background: rgb(0, 254, 250);
    font-size: 20px;
    border-style: solid;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .error {
    color: rgb(7, 0, 0);
    background: rgb(254, 13, 0);
    font-size: 20px;
    border-style: solid;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
  }